.content{
    margin-top:10%;
}

.menuFixed{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index: 9;
}

.menuElem{
    width: 183.08px
}
.logo{
    width: 60px;
    height: 60px;
}

.menu-option{

    text-align: center;
    border-right: solid 2px white;
}

.formulaire-insc{
    position: fixed;
    top:25%;
    left:35%;
    width: 35%;
    margin: 0 auto;
}

.headerForm{
    
    display:flex;

}
select{
    border-radius: 5px;
    border: solid 2px white;
    color: white;
    text-align-last: center;
    font-size: 150%;
}
option{
    text-align-last: center;
}
.divTextForm{
    width: 50%;
    text-align: center;
}
.borderWhite-R{
    border-right: solid 2px white;
}

.borderWhite-B{
    border-bottom: solid 2px white;
}

.vanish{
    display: none;
}

.divBackground{
    display: none;
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 999999;
    background-color: rgba(0 ,255,202, 0.2);
}

.fermerInsc{
    width: 20px;
    height: 20px;
    margin-left:3%; 
}

 .form-header{
    width: 50%;
    text-align: center;
    margin-left: 25%;
    border: solid 2px #8bc34a;
    border-radius: 2px;
 }
.containerAcceuil{
    width: 100%;
    display:flex;
    margin-top:1%;

}

.coloneGauche{
    width: 35%;
    display: flex;
    flex-direction:column; 
    margin-left:2%;
    margin-right:2%;
    justify-content: space-around;
}

.videoPresentation{
    width: 100%;
    height: 350px;
    margin-bottom: 2%;

}

.aPropos{
    color:white;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    padding-left:2%;
    padding-right: 2%; 
}

.coloneDroite{
    width:59%;
    border-radius: 5px;
    margin-right: 2%;
}

.Pied2Page{
    margin-top:5%;
    background-color: white;
}

.descriptifCarte{
    display: flex;
    justify-content: space-around;
    color:white;
}
.descriptifCarteItem{
    display: flex;
    flex-direction: column;
    width: 30%;
}
h5{
    font-weight: bold;
    margin-top:2%;
    text-align: center;
    color:white;
}
.miniMap {
    width : 90%;
    height : 650px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.carte{
    width: 95%;
    margin:0 auto;
}

.grandeCarte{
    width: 75%;
    height:600px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}
.logoContact{
    margin:0 auto;
    width:15%;
}

@media all and (max-width:991px)
{
    .content{
        margin-top: 15%;
    }
    .menu-option{
        border-right: none;
        text-align: start;
    }
    li{
        width: 100%;
    }
    .formulaire-insc{

        width: 60%;
        top:5%;
        left:20%;
    }

}

@media all and (max-width:600px)
{
    .content{
        margin-top: 25%;
    }
    .menu-option{
        border-right: none;
        text-align: start;
    }
    li{
        width: 100%;
    }
    .formulaire-insc{

        width: 90%;
        top:1%;
        left:5%;

    }
    .containerAcceuil{
        flex-wrap: wrap;
    }
    .coloneGauche{
        width: 100%;
    }
    .coloneDroite{
        width: 100%;
        margin-top: 2%;
    }
    .videoPresentation{
        width: 90%;
        margin-left:5%;
        height: 250px;
    }

}


